﻿@using KGERP.Utility
@{
    Layout = null;
    var app = HttpContext.Current.ApplicationInstance as MvcApplication;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Images/Logo/kg_logo-150x150.ico" rel="shortcut icon" type="image/x-icon" />
    <title>
        Accounting | @ViewData["Title"]

    </title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.date.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <script src="~/Scripts/ApplicationScripts/ErpScripts.js"></script>
    <link href="~/Content/Loader.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.0/css/fixedColumns.dataTables.min.css" />
    <link href="~/Content/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    <link href="~/Scripts/Confirm/jquery-confirm.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>*@

    <!-- SlimScroll -->
    @*<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.js"></script>
    <!-- FastClick -->
    @*<script src="~/Content/plugins/fastclick/fastclick.js"></script>*@

    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/app.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/Content/dist/js/demo.js"></script>*@
    @*<script src="~/Scripts/ApplicationScripts/ErpScripts.js"></script>*@

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/font awesome/font-awesome.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <link href="~/Content/dist/css/skins/_all-skins.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
    <link href="~/Content/Login.css" rel="stylesheet" />

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />*@
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Scripts/TreeView/dist/jstree.js"></script>
    @*@System.Web.Optimization.Styles.Render("~/Css")*@
    @RenderSection("Styles", false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="~/Scripts/PDF Plugin/PdfMake.js"></script>
    <script src="~/Scripts/PDF Plugin/vfs_fonts.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>*@
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script src="~/Content/Chosen/chosen-jquery.min.js"></script>
    <script src="~/Scripts/Confirm/jquery-confirm.min.js"></script>
    <script src="~/Content/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/Scripts/kgCustomLoader.js"></script>
    @RenderSection("Head", false)
</head>
<body class="hold-transition skin-blue sidebar-mini" style="font-family:Arial, Helvetica, sans-serif">
    <div id="kgLoader"></div>
    <div class="wrapper">
        <header class="main-header" style="background:#007f3d">
            <a href="#" class="logo" style="background:#4CAF50">
                <span class="logo-mini "><span><b>A</b>ccounting</span></span>
                @*<span class="logo-lg "><span><b>KG-</b>ERP</span></span>*@
            </a>
            <nav class="navbar navbar-static-top" style="background:#4CAF50">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a href="@Url.Action("Index","Home",null)" style="position: absolute;font:bold;font-size:20px;color:#ffffff;top:8px">
                    <b> Accounting</b>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            @{
                                if (Request.IsAuthenticated)
                                {
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        @if (Session["Picture"] != null)
                                        {
                                            <img src="@Url.Content(Session["Picture"].ToString())" class="user-image" alt="User Image">
                                        }
                                        else
                                        {
                                            <img src="~/Images/Picture/default.png" class="user-image" alt="User Image">
                                        }
                                        @{
                                            string greeting = DateTime.Now.TimeOfDay.ToString();
                                            greeting = greeting.Substring(0, 2);
                                            int greet = 0;
                                            int.TryParse(greeting, out greet);
                                            if (greet >= 0 && greet < 12)
                                            {
                                                greeting = "Good Morning. ";
                                            }
                                            else if (greet >= 12 && greet < 18)
                                            {
                                                greeting = "Good Afternoon. ";
                                            }
                                            else
                                            {
                                                greeting = "Good Evening. ";
                                            }
                                            <span class="hidden-xs">@greeting! @Session["EmployeeName"].ToString()</span>
                                        }

                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            @{
                                                if (Session["Picture"] != null)
                                                {
                                                    <img src="@Url.Content(Session["Picture"].ToString())" class="img-circle" alt="User Image">
                                                }

                                                else
                                                {
                                                    <img src="~/Images/Picture/default.png" class="img-circle" alt="User Image">

                                                }
                                                <p>
                                                    @if (Session["UserName"] != null)
                                                    {
                                                        <span>
                                                            @Session["EmployeeName"].ToString() (@Session["UserName"].ToString())
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        Html.Action("Login", "User", null);
                                                    }
                                                </p>
                                            }

                                        </li>

                                        <li class="user-footer" style="background-color:#4CAF50;">
                                            <div class="pull-left">
                                                <a href="@Url.Action("ChangePassword","User")" class="btn btn-default btn-flat">Change Password <i class="fa fa-key" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="pull-right">
                                                @using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                                                {
                                                    <a class="btn btn-default btn-flat" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>

                                                }
                                            </div>
                                        </li>
                                    </ul>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <section class="sidebar">
                @if (Session["UserName"] != null)
                {
                    if (app.IsReleased == true)
                    {
                        Html.RenderAction("MenuPartial", "Home");
                    }
                    else
                    {
                        <ul class="sidebar-menu" data-widget="tree">
                            <li class="header">SEED</li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa fa-th"></i> <span>SETTINGS</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Configuration/UserMenu?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>MENU</a></li>
                                    <li><a href="~/Configuration/UserSubMenu?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>SUBMENU</a></li>
                                    <li><a href="~/Configuration/UserMenuAssignment?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>User Menu Assign</a></li>
                                    <li><a href="~/Configuration/CommonUnit?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>UNIT</a></li>
                                    <li><a href="~/Configuration/CommonFinishProductCategory?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-share"></i>FINISH CATEGORY</a></li>
                                    <li><a href="~/Configuration/CommonFinishProductSubCategory?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>FINISH SUBCATEGORY</a></li>
                                    <li><a href="~/Configuration/CommonFinishProduct?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>FINISH PRODUCT</a></li>
                                    <li><a href="~/Configuration/CommonRawProductCategory?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-share"></i>RAW CATEGORY</a></li>
                                    <li><a href="~/Configuration/CommonRawProductSubCategory?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>RAW SUBCATEGORY</a></li>
                                    <li><a href="~/Configuration/CommonRawProduct?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>RAW MATERIALS</a></li>

                                    <li><a href="~/Configuration/CommonZone?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-share"></i>ZONE</a></li>
                                    <li><a href="~/Configuration/CommonSubZone?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>TERRITORY</a></li>

                                    <li><a href="~/Configuration/CommonDivisions"><i class="fa fa-share"></i>Divisions</a></li>
                                    <li><a href="~/Configuration/CommonDistricts"><i class="fa fa-circle-o"></i>Districts</a></li>
                                    <li><a href="~/Configuration/CommonUpazilas"><i class="fa fa-circle-o"></i>Upazilas</a></li>

                                    <li><a href="~/Configuration/CommonSupplier?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-share"></i>SUPPLIER / EXPORTER</a></li>
                                    <li><a href="~/Configuration/CommonCustomer?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-share"></i>DEALER / CUSTOMER</a></li>
                                    <li><a href="~/Configuration/CommonBank?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-share"></i>Bank</a></li>
                                    <li><a href="~/Configuration/CommonBankBranch?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Bank Branch</a></li>

                                </ul>
                            </li>


                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-files-o"></i>
                                    <span>Purchase Order</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Procurement/ProcurementPurchaseOrderSlave?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>CREATE PO</a></li>
                                    <li><a href="~/Procurement/ProcurementPurchaseOrderList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>ON GOING PO</a></li>
                                    <li><a href="~/Procurement/ProcurementHoldPurchaseOrderList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>HOLD PO</a></li>
                                    <li><a href="~/Procurement/ProcurementCancelPurchaseOrderList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>CANCEL PO</a></li>
                                    <li><a href="~/Procurement/ProcurementClosedPurchaseOrderList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>CLOSED PO LIST</a></li>
                                    <li><a href="~/Configuration/POTremsAndConditions?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>TERMS & CONDITION</a></li>
                                    <li><a href="~/Procurement/ProcurementPurchaseOrderSupplierOpening?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Supplier Opening</a></li>

                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-files-o"></i>
                                    <span>STORE</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/WareHouse/WareHousePurchaseOrder?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>PO LIST</a></li>
                                    <li><a href="~/WareHouse/WareHousePOReceivingSlave?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>PO STORE IN</a></li>
                                    <li><a href="~/WareHouse/WareHousePurchaseReturnSlave?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>PURCHASE RETURN</a></li>


                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-files-o"></i>
                                    <span>Production Process</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Production/ProdReferenceSlave?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Production Process</a></li>
                                    <li><a href="~/Production/ProdReferenceListList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Production List</a></li>


                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-files-o"></i>
                                    <span>Sales Order</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Procurement/ProcurementSalesOrderSlave?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Sales Order</a></li>
                                    <li><a href="~/Procurement/ProcurementSalesOrderList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Sales List</a></li>
                                    <li><a href="~/Procurement/ProcurementSalesOrderSlaveCustomerOpening?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Customer Opening</a></li>


                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-files-o"></i>
                                    <span>Order Deliver</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/WareHouse/WareHouseOrderDeliverDetail?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Manage Delivery Challan</a></li>
                                    <li><a href="~/WareHouse/WareHouseOrderDeliverList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Delivery Challan List</a></li>
                                    <li><a href="~/WareHouse/WareHouseSalesReturnSlave?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Manage Sales Return</a></li>
                                    <li><a href="~/WareHouse/WareHouseSalesReturnList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Sales Return List</a></li>



                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-files-o"></i>
                                    <span>Payment</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Collection/CommonSupplierList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Supplier List</a></li>
                                    <li><a href="~/Collection/CommonCustomerList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Customer List</a></li>

                                </ul>
                            </li>

                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-files-o"></i>
                                    <span>REPORTS</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">

                                    <li><a href="~/WareHouse/WareHouseFinishProductInventory?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Finish Product Inventory</a></li>
                                    <li><a href="~/WareHouse/WareHouseRawItemInventory?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Raw Item Inventory</a></li>
                                    <li><a href="~/Report/ProductList?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Product List</a></li>
                                    <li><a href="~/Report/DateWiseSaleQtyAndAmount?companyId=@((int)CompanyName.KrishibidSeedLimited)"><i class="fa fa-circle-o"></i>Date Wise Sale</a></li>
                                    <li><a href="~/Report/ItemWiseSaleStatus?companyId=@((int)CompanyName.KrishibidSeedLimited)&productType=F"><i class="fa fa-circle-o"></i>Item Wise Sale</a></li>
                                    <li><a href="~/Report/MonthlySaleItemWise?companyId=@((int)CompanyName.KrishibidSeedLimited)&productType=F"><i class="fa fa-circle-o"></i>Month Wise Sale</a></li>




                                </ul>
                            </li>

                        </ul>
                    }
                }
                else
                {
                    Html.Action("Login", "User", null);
                }
            </section>
        </aside>
        <div class="content-wrapper" style="background:#ffffff;overflow-x:scroll;">
            <div class="padd-cust" style="padding:20px;">
                @RenderBody()
            </div>
        </div>
        <footer class="page-footer text-center">
            <strong>Copyright &copy; Accounting System Team</strong>
        </footer>
    </div>


    @*<div class="loaderbody" id="loaderbody">
            <div class="loader"></div>
        </div>*@


    <script type="text/javascript">

        //taka formatter
        let takaBangladesh = Intl.NumberFormat("bn-BD", {
            style: "currency",
            currency: "BDT",
        });
        //let takaBDLocale = Intl.NumberFormat('bn-EN'); how to use
       // console.error("Taka output: " + takaBangladesh.format(223423478123.03093028));

        //Forvalidation and accidental Multiple Submiting prevention script
        // Use onclick="ClientSubmit(this)" this on you button 
        // do not use it on ajax call buttons
        //javascript variable to store if we have clicked submit yet
        // form has to have a id 
        //if the button is Input element then it has to have id
        function ClientSubmit(obj) {

            var obj2 = obj.toString();
            var form = '#' + obj.closest('form').id;
            $(form).validate();

            if (obj.disabled) { return false; }
            if ($(form).valid()) {
                if (obj2 == '[object HTMLInputElement]') {
                    $('#' + obj.id).val('Processing...');
                }
                else if (obj2 == '[object HTMLButtonElement]') {
                    obj.innerHTML = 'Processing...';
                }
                obj.disabled = true;
                $(form).submit();
                return true;
            }
            else { return false; }
        }
        $(document).ready(function () {

            

            $('.datePicker').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                clearBtn: true
            });

            $('.select-single').chosen({
                allow_single_deselect: true
                //, width: "95%"
            });

            $('.datePickerStartDate').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                clearBtn: true,
                startDate: new Date()
            }).on('changeDate', function (ev) {
                if ($(this).parents('form') && $(this).attr('required')) {
                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                }

            });



            $("#KgErpDataTable").DataTable({
                "bDeferRender": true,
                "pageLength": 25,
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        footer: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        footer: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf-o"></i>&nbsp;PDF',
                        orientation: 'portait',
                        footer: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'print',
                        footer: true,
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        customize: function (win) {
                            $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                        }
                    }

                    //{
                    //    extend: 'print',
                    //    text: '<i class="fa fa-print"></i>&nbsp;Print',
                    //    orientation: 'landscape',
                    //    autoPrint: true
                    //    //exportOptions: {
                    //    //    columns: [0, 1, 2, 3, 4, 5]
                    //    //}
                    //}
                ]
            })

            $('.searchingDropdown').select2();

            $('.selectDropdown').select2({
                tags: true
            });

            $(".selectNewDropdown").select2({
                tags: true,
                createTag: function (params) {
                    return {
                        id: params.term,
                        text: params.term,
                        newOption: true
                    }
                },
                templateResult: function (data) {
                    var $result = $("<span></span>");

                    $result.text(data.text);

                    if (data.newOption) {
                        $result.append(" <em>(new)</em>");
                    }

                    return $result;
                }
            });
        })
    </script>
    <script>
        function LoadYear(numberOfYearsBefore = 2, numberOfYearsAfter = 5) {
            var currentYear = new Date().getFullYear();
            var startYear = currentYear - numberOfYearsBefore;
            var endYear = currentYear + numberOfYearsAfter;
            var dropdown = $('#Year');
            dropdown.empty();
            dropdown.append($('<option></option>').text('Select Year'));
            for (var year = startYear; year <= endYear; year++) {
                var option = $('<option></option>').val(year).text(year);
                if (year === currentYear) {
                    option.attr('selected', 'selected');
                }
                dropdown.append(option);
            }
        }
        function LoadFiscalYear(numberOfYearsBefore = 2, numberOfYearsAfter = 5) {
            var currentYear = new Date().getFullYear();
            if (new Date().getMonth() < 7) {
                currentYear--;
            }
            var startYear = currentYear - numberOfYearsBefore;
            var endYear = currentYear + numberOfYearsAfter;
            var dropdown = $('#Year');
            dropdown.empty();
            dropdown.append($('<option></option>').text('Select Year'));
            for (var year = startYear; year <= endYear; year++) {
                var textValue = year + "-" + (year + 1);
                var option = $('<option></option>').val(year+1).text(textValue);
                if (year === currentYear) {
                    option.attr('selected', 'selected');
                }
                dropdown.append(option);
            }
        }
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
