﻿@model KGERP.Data.CustomModel.ReportCustomModel
@{
    ViewBag.Title = "Calculative Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12" style="background-color:lightblue">
        @Html.Label("Monthly Attendence Department Wise", new { @style = "font-size:20px" })
    </div>
</div>
<br/>

@using (Html.BeginForm("CalculativeAttendance", "Report", FormMethod.Post, new { @id = "idForm" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CompanyId, new { @id = "hfCompanyId" })
<div class="row">
    <div class="col-md-3">
        @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
        <br />
        @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })

    </div>
    <div class="col-md-3">
        @Html.Label("ToDate", htmlAttributes: new { @class = "control-label" })
        <br />
        @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })

    </div>
    <div class="col-md-3">
        @Html.Label("Office Type", htmlAttributes: new { @class = "control-label" })
        <br />
        <select class="form-control" name="SalaryTag">
            <option>--Select--</option>
            <option value="1">Head Office</option>
            <option value="2">Chatbari</option>
            <option value="3">Savar Packeging</option>
            <option value="5">Bazaar</option>
            <option value="6">Office Attendant&Cleaner</option>
            <option value="7">Management</option>
        </select>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="BusinessType" class="control-label">Business Type</label>
            @Html.EnumDropDownListFor(model => model.BusinessType,"--Select--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BusinessType, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="float:right">
        <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-right" formtarget="_blank" />
        <select class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px" name="ReportType" id="ReportType">
            <option value="PDF">PDF</option>
            <option value="EXCEL">EXCEL</option>
            <option value="WORD">WORD</option>
        </select>
    </div>
</div>



}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script>
        $(document).ready(function () {

        });
        $('.datepicker').datepicker({
            dateFormat: 'yy-mm-dd',
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50",

        });
        $('#btnAdd').unbind("click").bind("click", function () {
            var form = $('#idForm');
            var url = "/Vouchers/CreateTempVoucher";

            $.ajax({
                type: "POST",
                url: url,
                dataType: "html",
                data: form.serialize(),
                beforeSend: function () {

                },
                success: function (resp) {
                    $('#divVoucherGrid').html(resp);
                },
                error: function (request, status, error) {
                    alert("Error");
                }
            });

        });



        $(function () {
            $("#accountName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/HeadGLs/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: '{"prefix":"' + request.term + '"}',
                        dataType: "json",
                        type: "POST",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#accountHeadId").val(i.item.val);
                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });
        });
    </script>
}





