﻿@model KGERP.Data.CustomModel.ReportCustomModel


<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        Feed Sales And Collection Report <span style="color:indianred"> @Model.CompanyName</span>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Feed Sales And Collection Report</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("FeedSalesAndCollectionReports", "Report", FormMethod.Get, new { id = "AccountingMovementformId", @class = "formValidator", @target = "_blank", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <!-- /.box-header -->
                        <div class="box-body">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.CompanyId, new { @id = "CompanyId" })
                            @Html.HiddenFor(model => model.ReportName)

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                        </div>
                        <div class="box-footer">
                            <div class="col-md-6">
                                <label for="message-text" class="col-form-label">Select Report:</label>
                                <br />
                                @Html.RadioButtonFor(m => m.Head4Id, 3505) Current Customer Report
                                @Html.RadioButtonFor(m => m.Head4Id, 50612515) Block Customer Report
                            </div>
                            <div class="col-md-3">
                                <select class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px;width:100%;" name="ReportType" id="ReportType">
                                    <option value="PDF">PDF</option>
                                    <option value="EXCEL">EXCEL</option>
                                    <option value="WORD">WORD</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-right" style="width:100%" formtarget="_blank" />
                            </div>
                        </div>

                    </div>
                </div>
            }


        </div>

    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")



    <script>
        $(function () {


        }
    </script>
}





