﻿@model KGERP.Data.CustomModel.ReportCustomModel
@{
    ViewBag.Title = "IncentivSummeryReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class=" ">
        <div class="breadcrumb d-flex justify-content-between align-items-center pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item active">  <b style="font-size:27px;"> Incentive Generated Summery Report  </b>  </li>
            </ol>
        </div>
    </div>
</div>
@using (Html.BeginForm("IncentivSummeryReport", "Report", FormMethod.Post))
{
    @Html.HiddenFor(m => m.CompanyId, new { @id = "CompanyId" })
    @Html.HiddenFor(m => m.ReportName, new { @id = "CompanyId" })
    <div class="container-fluid" style="margin-top: 20px; border: 1px solid #f0ffff; padding: 28px 18px 21px 18px; background: #4caf501f ">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label>Report Months </label>
                    @Html.DropDownListFor(model => model.RMonths, Model.MonthList as SelectList, "==Select Month ==", new { id = "ddlMonth", @class = "form-control ddlReset", style = "width:100%", required = "required" })
                    @Html.ValidationMessageFor(model => model.RMonths, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Years<b style="color:red"> *</b> </label>
                    @Html.DropDownListFor(model => model.RYears, new SelectList(Model.YearsList, "Value", "Text"), "---Select Years---", new { id = "Year", @class = "searchingDropdown  customStyle", @style = "width: 100%;", required = "required" })
                    @Html.ValidationMessageFor(model => model.RYears, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3" style="margin-top:24px;float:left;display:flex">
                <select class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px;width:50%" name="ReportType" id="ReportType">
                    <option value="PDF">PDF</option>
                    <option value="EXCEL">EXCEL</option>
                    <option value="WORD">WORD</option>
                </select>
                <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-right" formtarget="_blank" style="width:50%" />
                @*<input type="submit" style="margin-top:20px" formtarget="_blank" value="Report" class="btn btn-success" />*@
            </div>
        </div>
    </div>
}


