﻿@model KGERP.Data.CustomModel.ReportCustomModel
@{
    ViewData["Title"] = "Krishibid Poultry Limited";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        Krishibid Poultry Limited
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Krishibid Poultry Limited</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("PoultryShareHolderPositionReport", "Report", FormMethod.Get, new { id = "propertiesShareHolderPositionReportformId", @class = "formValidator", @target = "_blank", @enctype = "multipart/form-data" }))
            {
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">
                    <!-- /.box-header -->
                    <div class="box-body">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.ReportName)
                        <div class="row">
                            <div class="col-md-1">

                            </div>

                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">As On:</label>
                                    @Html.EditorFor(x => x.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-1">

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <select class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px;width:100%" name="ReportType" id="ReportType">
                                        <option value="PDF">PDF</option>
                                        <option value="EXCEL">EXCEL</option>
                                        <option value="WORD">WORD</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <input type="submit" name="EXPORT" style="width:100%" value="EXPORT" class="btn btn-success pull-right" formtarget="_blank" />

                                </div>
                                <div class="col-md-1"></div>

                            </div>
                        </div>

                    </div>
                    <div class="box-footer">
                    </div>

                </div>
            </div>
            }


        </div>

    </div>
</section>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            dateFormat: "mm/dd/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
    });


</script>
}




